/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap.scss';



input[type="radio"]:checked+label.strikethrough {
    text-decoration: line-through;
  }

  .pointer:hover {
      cursor: pointer;
  }

  input[type="radio"]:checked {
    background-color: #18840a;
  }
